<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InstallDriver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <InstallDriver.Properties.Settings>
            <setting name="BaseName" serializeAs="String">
                <value>Airlink</value>
            </setting>
            <setting name="Extensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*.cat</string>
                        <string>*.inf</string>
                        <string>*.sys</string>
                        <string>*.dll</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Folder" serializeAs="String">
                <value>ProgramFiles</value>
            </setting>
            <setting name="Directories" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.</string>
                        <string>i386</string>
                        <string>amd64</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="minicomif" serializeAs="String">
                <value>23f46693-c526-41eb-86ef-965bd2747c7e</value>
            </setting>
            <setting name="airlinkif" serializeAs="String">
                <value>366a8df7-c36a-4cfc-883f-26e291b571ad</value>
            </setting>
        </InstallDriver.Properties.Settings>
    </applicationSettings>
</configuration>