/*******************************************************************/
/*                                                                 */
/* UpdaterStyle.css - definition of global styles                     */
/*                                                                 */
/* Copyright © 2005 Macrovision Corporation                        */
/*                                                                 */

BODY, P, A, TD {
    font-family: Tahoma ;
    font-size: 8pt;
	line-height: 10pt;
    color: #444;
	list-style-type: square;
}

BODY {
    margin: 0em;
}

FORM, INPUT, TEXTAREA, BUTTON, SELECT{
	font-size: 8pt; 
	color: #333;
}

.whiteAnchor {
	font-family: Tahoma ;
    color: #FFF;
	text-decoration: none;
	font-size: 8pt;
	line-height: 9pt;
}

.contentHeader {
    font-family: Trebuchet MS, Tahoma ;
	padding-left: 16px;
	padding-bottom: 5px;
	color: #FFFFFF;
	font-size: 11pt;
	line-height: 14pt;
	font-weight: bold;
}

.subContentHeader {
    font-family: Tahoma ;
	color: #435C82;
	text-decoration: none;
	font-size: 8pt;
	line-height: 20pt;
	font-weight: bold;
}

.subSubContentHeader {
    font-family: Tahoma ;
	text-decoration: none;
	font-size: 8pt;
	line-height: 9pt;
	font-weight: bold;
}

.anchorColorNone {
	text-decoration: none;
	font-weight: bold;
}

#mainNavHeader {
	left: 0px;
    top: 0px;
    height: 60px;
	width: 788px;
	background-image: url(images/top_nav_back.jpg);
}

#mainNavLogo {
	left: 0px;
    top: 0px;
    height: 60px;
	width: 210px;
	background-image: url(images/logo.jpg);
}

#mainNavIconUpdates {
	position: absolute;
	top: 8px;
	left: 540px;
    height: 50px;
	width: 84px;
	text-align: center;
}

#mainNavIconUpdatesS {
	position: absolute;
	top: 8px;
	left: 540px;
    height: 50px;
	width: 84px;
	text-align: center;
}

#mainNavIconSettings {
	position: absolute;
	top: 8px;
	left: 625px;
    height: 50px;
	width: 84px;
	text-align: center;
}

#mainNavIconSettingsS {
	position: absolute;
	top: 8px;
	left: 625px;
    height: 50px;
	width: 84px;
	text-align: center;
}

#mainNavIconAbout {
	position: absolute;
	top: 8px;
	left: 700px;
    height: 50px;
	width: 84px;
	text-align: center;
}

#mainNavIconAboutS {
	position: absolute;
	top: 8px;
	left: 700px;
    height: 50px;
	width: 84px;
	text-align: center;
}

#secNavHeader {
    height: 61px;
	width: 788px;
	background-image: url(images/sec_nav_back.jpg);
	white-space: nowrap;
}

#secNavLogo {
    height: 61px;
            width: 261px;
            background-image:  url(images/update_header.jpg);
            white-space: nowrap;
            text-align: center;
}

#secNavNoLogo {
	height: 61px;
	width: 261px;
            white-space: nowrap;
            text-align: center;
}

#secNavTitle {
	position: absolute;
	top: 82px;
	left: 470px;
	width: 100px;
	white-space: nowrap;
	text-align: right;
    font-family: Trebuchet MS, Tahoma ;
	font-size: 11pt;
	line-height: 13pt;
	font-weight: bold;
}

#secNavSeparator {
	position: absolute;
	top: 70px;
	left: 580px;
	width: 2px;
	height: 42px;
	background-image: url(images/separator.gif);
}

#secNavLinks {
	position: absolute;
	top: 65px;
	left: 592px;
	white-space: nowrap;
	text-align: left;
}

#secNavLinks  a {
	white-space: nowrap;
	text-decoration: none;
	line-height: 12pt;
}

#secNavLink {
	position: absolute;
	top: 65px;
	left: 592px;
	padding: 17px 0 0 0;
	white-space: nowrap;
	text-align: left;
}

#secNavLink a {
	white-space: nowrap;
	text-decoration: none;
	line-height: 12pt;
}

.theNav a {
	white-space: nowrap;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 13px;
}

.theNavS a {
	white-space: nowrap;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 13px;
	font-weight: bold;
}

#mainContentUpdate {
	left: 0px;
    top: 121px;
    height: 417px;
	width: 788px;
	background-image: url(images/content_back_update.jpg);
}

#mainContent {
	left: 0px;
    top: 121px;
    height: 417px;
	width: 788px;
	background-image: url(images/content_back_standard.jpg);
}

#mainPanel {
	position: absolute;
	left: 12px;
    top: 143px;
    height: 377px;
	width: 750px;
}

#leftPanel {
	position: absolute;
	left: 22px;
    top: 133px;
    height: 377px;
	width: 200px;
}

#leftPanelSettings {
	position: absolute;
    top: 20px;
    height: 377px;
	width: 450px;
}

#rightPanelSettings {
	position: absolute;
	left: 520px;
    top: 20px;
    height: 377px;
	width: 250px;
}

.indentLeftPanel {
	width: 200px;
	padding:  0 0 0 10px;
}

.indentLeftPanel a {
	color: #666666;
	text-decoration: none;
	font-weight: normal;
	line-height: 13pt;
}

#rightPanel {
	position: absolute;
	left: 263px;
    top: 145px;
    height: 377px;
	width: 550px;
}

#statusKey {
	position: absolute;
	left: 240px;
    top: -3px;
}

#printHistory a {
	position: absolute;
	right: 10px;
	 top: -2px;
	 text-align: right;
}

.shortHorizSeparator {
	width: 218px;
	height: 20px;
	background-image: url(images/dotted_line_218.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.scrollerUpdate {
	position: absolute;
	top: 23px;
	left: 0px;
	width : 512px;
	height : 309px;
	overflow-y : scroll;
	border: 0px;
	background-color: #FFF;
}

.scrollerHistory {
	position: absolute;
	top: 43px;
	width : 762px;
	height : 324px;
	left: 1px;
	overflow-y : scroll;
	background-color: #FFF;
}

.scrollerSettings {
	position: absolute;
	top: 43px;
	width : 762px;
	height : 140px;
	overflow-y : scroll;
	border: 1px solid #999;
	background-color: #FFF;
}

.shortSpacerVert {
	height : 6px;
}

#itemsSelected {
	position: absolute;
	top: 335px;
	margin-left:10px;
}

#imgshield {
  position: absolute;
  right: 205px;
  text-align: right;
  top: 341px;
}

#downloadButtons {
	position: absolute;
	right: 53px;
	text-align: right;
	top: 338px;
}

#restoreButton {
	position: absolute;
	right: 53px;
	text-align: right;
	top: 338px;
}

#closeButton {
  position: absolute;
  right: 53px;
  text-align: right;
  top: 338px;
}

#updatecompletecloseButton{
  position: absolute;
  right: 50px;
  text-align: right;
  top: 484px;
}

#saveSettingsButton {
	position: absolute;
	right: 10px;
	text-align: right;
	top: 338px;
}

#bottom {
	position: absolute;
	top: 518px;
}

#copyright {
	float: left;
	width: 680px ;
	padding: 0 0 0 12px;
	text-decoration: none;
	font-size: 8pt;
	line-height: 9pt;
}

#helpIcon {
	width: 18px ;
	float: left;
	align: right;
}

#help {
	width: 62px ;
	float: left;
	align: right;
}

.schedulerTD TD {
	text-align: center;
	background-color: #FFF;
}

/* History page interior scrolling update container tags */

#historyColumnContainer {
	width:764px ;
	left: 0px;
}

#historyProductHeaderCell {
	float: left;
	width:168px ;
	padding: 2px 0 2px 5px;
	border:1px solid #CCC;
	background-image: url(images/list_header_back.gif);
}

#historyUpdateHeaderCell {
	float: left;
	width: 420px ;
	padding: 2px 0 2px 5px;
	border:1px solid #CCC;
	background-image: url(images/list_header_back.gif);
}

#historyDateHeaderCell {
	float: left;
	width: 154px ;
	padding: 2px 0 2px 5px;
	border:1px solid #CCC;
	background-image: url(images/list_header_back.gif);
}

#historyStatusHeaderCell {
	float: left;
	width: 60px ;
	padding: 2px 0 2px 0px;
	text-align: center;
	border:1px solid #CCC;
	background-image: url(images/list_header_back.gif);
}

.historyProductRow {
	float: left;
	width: 740px ;
	padding: 3px 0 3px 5px;
	background-color: #607697;
	border-top: 1px solid #BFCBDD;
	border-bottom: 1px solid #30425D;
}

.historyProductRow a {
	text-decoration: none;
	display: block;
	color: #FFF;
}

.historyUpdateCell {
	float: left;
	width: 423px ;
	padding: 2px 0 2px 177px;
	background-color: #FFF;
}

.historyUpdateCell a {
	text-decoration: none;
	color: #444;
	display: block;
	font-weight: bold;
}

.historyDateCell {
	float: left;
	width: 83px ;
	padding: 2px 0 2px 5px;
	text-align: center;
	background-color: #FFF;
}

.historyDateCell a {
	text-decoration: none;
	color: #444;
	display: block;
}

.historyStatusCell {
	float: left;
	width: 59px ;
	padding: 2px 0 1px 0;
	text-align: center;
	background-color: #FFF;
}

.historyStatusCell a {
	text-decoration: none;
	color: #444;
	display: block;
}

.historyUpdateContent {
	float: left;
	width: 540px ;
	padding: 10px 10px 10px 191px;
	border-bottom:1px dotted #CCC;
	background-color: #FFF;
	background-position: top;
}

.historyUpdateContent a {
	text-decoration: none;
	color: #444;
	display: block;
}

.historyUpdateCell2 {
	float: left;
	width: 423px ;
	padding: 2px 0 2px 177px;
	background-color: #EEE;
}

.historyUpdateCell2 a {
	text-decoration: none;
	color: #444;
	display: block;
	font-weight: bold;
}

.historyDateCell2 {
	float: left;
	width: 83px ;
	padding: 2px 0 2px 0;
	text-align: center;
	background-color: #EEE;
}

.historyDateCell2 a {
	text-decoration: none;
	color: #444;
	display: block;
}

.historyStatusCell2 {
	float: left;
	width: 59px ;
	padding: 2px 0 1px 0;
	text-align: center;
	background-color: #EEE;
}

.historyStatusCell2 a {
	text-decoration: none;
	color: #444;
	display: block;
}

.historyUpdateContent2 {
	float: left;
	width: 540px ;
	padding: 10px 10px 10px 191px;
	border-bottom:1px dotted #CCC;
	background-color: #EEE;
	background-position: top;
}

.historyUpdateContent2 a {
	text-decoration: none;
	color: #444;
	display: block;
}

/* Update and Archive page interior scrolling update container tags */

.updatesProductContainer {
	width: 492px;
	padding: 3px 0 3px 5px;
	display: block;
	background-color: #607697;
	border-top: 1px solid #BFCBDD;
	border-bottom: 1px solid #30425D;
}

.updatesProductContainer a {
	display: block;
	color: #FFF;
}

.updatesHeaderContainer {
	width: 497px;
	left: 0px;
}

.updatesColumnContainer {
	width: 497px;
	left: 0px;
	background: #FFF;
	border-bottom: 1px dotted #CCC;
}

.updatesUpdateHeaderCell {
	float: left;
	width: 337px ;
	padding: 3px 0 3px 16px;
	font-weight: bold;
	background-color: #DBDFE6;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #999;
}

.updatesDateHeaderCell {
	float: left;
	width: 80px ;
	padding: 3px 0 3px 0;
	text-align: center;
	font-weight: bold;
	background-color: #DDD;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #999;
	display: block;
}

.updatesStatusHeaderCell {
	float: left;
	width: 64px ;
	padding: 3px 0 3px 0px;
	text-align: center;
	font-weight: bold;
	background-color: #DDD;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #999;
	display: block;
}

.updatesUpdateCell {
	float: left;
	width: 22px ;
	background-color: #FFF;
}

.updatesUpdateNameCell {
	float: left;
	width: 327px ;
	padding: 3px 0 2px 0;
	background-color: #FFF;
}

	.updatesUpdateNameCell a {
		text-decoration: none;
		color: #444;
		display: block;
	}

.updatesUpdateNameCellNew {
	float: left;
	width: 327px ;
	padding: 3px 0 2px 0;
	background-color: #FFF;
}

	.updatesUpdateNameCellNew a {
		text-decoration: none;
		color: #557428;
		display: block;
		font-weight: bold;
	}

.updatesDateCell {
	float: left;
	width: 80px ;
	padding: 3px 0 2px 0;
	text-align: center;
	background-color: #FFF;
}

.updatesDateCell a {
	display: block;
	text-decoration: none;
}

.updatesSizeCell {
	float: left;
	width: 64px ;
	padding: 3px 0 2px 0;
	text-align: center;
	background-color: #FFF;
}

.updatesSizeCell a {
	display: block;
	text-decoration: none;
}

.updatesUpdateContent {
	float: left;
	width: 449px ;
	padding: 0 10px 0px 35px;
	background-color: #FFF;
	font-family: Tahoma ;
    font-size: 8pt;
	line-height: 10pt;
    color: #444;
}

.updatesUpdateContent a {
	color: #444;
	display: block;
}

/* Settings page interior scrolling update container tags */

.radioSettings {
	position: absolute;
	top: 200px;
	left: 295px;
	height : 120px;
	background-color: #FFF;
}

#settingsColumnContainer {
	width:764px ;
	left: 0px;
}

#settingsProductHeaderCell {
            float: left;
            width: 368px ;
            padding: 2px 0 4px 3px;
            border-left:1px solid #AEB4BE;
            border-right:1px solid #FFF;
            background-image: url(images/list_header_back.gif);
}
 
#settingsCriticalHeaderCell {
            float: left;
            width: 181px ;
            padding: 2px 0 4px 3px;
            text-align: left;
            border-left:1px solid #AEB4BE;
            border-right:1px solid #FFF;
            background-image: url(images/list_header_back.gif);
}
 
#settingsImportantHeaderCell {
            float: left;
            width: 385px;
            padding: 2px 0 4px 3px;
            text-align: left;
            border-left:1px solid #AEB4BE;
            border-right:1px solid #AEB4BE;
            background-image: url(images/list_header_back.gif);
}

#settingsOptionalHeaderCell {
	float: left;
	width: 143px ;
	padding: 2px 0 4px 0;
	text-align: center;
	border-left:1px solid #AEB4BE;
	border-right:1px solid #111;
	background-image: url(images/list_header_back.gif);
}

.aboutCell {
	float: left;
	width: 350px;
	padding: 10px 0 0 16px;
}

.scrollerAuth {
	position: absolute;
	top: 23px;
	left: 0px;
	width : 512px;
	height : 309px;
	overflow : auto;
	background-color: #FFF;
}

#mainAlert {
    left: 0px;
    top: 121px;
    height: 418px;
           width: 788px;
            background-image: url(images/content_back_alert.jpg);
}
 
.alertContent {
    position: absolute;
            left: 265px;
            top: 135px;
            height: 50px;
            width: 200px;
}

.alertClose {
            position: absolute;
            left: 460px;
            top: 132px;
}

#submitButton {
	position: absolute;
	right: 53px;
	text-align: right;
	top: 338px;
}

#saveCheck {
	position: absolute;
	right: 175px;
	text-align: right;
	top: 338px;
}

.checkingIcon {
    position: absolute;
            left: 265px;
            top: 135px;
            height: 80px;
            width: 45px;
}
 
.checkingText {
            position: absolute;
            left: 310px;
            top: 140px;
            width: 185px;
}

#closeButton {
  position: absolute;
  right: 53px;
  text-align: right;
  top: 338px;
}