<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Production -->
    <add key="BaseUri" value="https://services.gnonlineservices.com/"/>
    <add key="ForgotUsernameUri" value="https://portal.gnonlineservices.com/user/forgotusername/"/>
    <add key="ForgotPasswordUri" value="https://portal.gnonlineservices.com/user/forgotpassword/"/>
    <add key="CloudLoginUri" value="https://portal.gnonlineservices.com/"/>
    <add key="RendezvousServiceUrl" value="https://rendezvous.gnonlineservices.com/"/>
    <!-- Alpha Trial -->
    <!--
    <add key="BaseUri" value="https://alpservices.gnonlineservices.com/" />
    <add key="ForgotUsernameUri" value="https://alpportal.gnonlineservices.com/user/forgotusername/" />
    <add key="ForgotPasswordUri" value="https://alpportal.gnonlineservices.com/user/forgotpassword/" />
    <add key="CloudLoginUri" value="https://alpportal.gnonlineservices.com/" />
    <add key="RendezvousServiceUrl" value="https://alprendezvous.gnonlineservices.com/"/>
    -->
    <!-- Test -->
    <!--
    <add key="BaseUri" value="https://tstservices.gnonlineservices.com/" />
    <add key="ForgotUsernameUri" value="https://tstportal.gnonlineservices.com/user/forgotusername/" />
    <add key="ForgotPasswordUri" value="https://tstportal.gnonlineservices.com/user/forgotpassword/" />
    <add key="CloudLoginUri" value="https://tstportal.gnonlineservices.com/" />
    <add key="RendezvousServiceUrl" value="https://tstrendezvous.gnonlineservices.com/" />
    -->
    <!-- Verification -->
    <!-- 
    <add key="BaseUri" value="https://verservices.gnonlineservices.com/" />
    <add key="ForgotUsernameUri" value="https://verportal.gnonlineservices.com/user/forgotusername/" />
    <add key="ForgotPasswordUri" value="https://verportal.gnonlineservices.com/user/forgotpassword/" />
    <add key="CloudLoginUri" value="https://verportal.gnonlineservices.com/" />
    <add key="RendezvousServiceUrl" value="https://verrendezvous.gnonlineservices.com/" />
    -->
    <!-- Development -->
    <!--
    <add key="BaseUri" value="https://devgnrservices.azurewebsites.net/"/>
    <add key="ForgotUsernameUri" value="https://devgnrportal.azurewebsites.net/user/forgotusername/"/>
    <add key="ForgotPasswordUri" value="https://devgnrportal.azurewebsites.net/user/forgotpassword/"/>
    <add key="CloudLoginUri" value="https://devgnrportal.azurewebsites.net/"/>
    <add key="RendezvousServiceUrl" value="https://devrendezvousservice.azurewebsites.net/"/>
    -->
    <!-- Staging -->
    <!--
    <add key="BaseUri" value="https://stgservices.gnonlineservices.com/" />
    <add key="ForgotUsernameUri" value="https://stgservices.gnonlineservices.com/user/forgotusername/" />
    <add key="ForgotPasswordUri" value="https://stgservices.gnonlineservices.com/user/forgotpassword/" />
    <add key="CloudLoginUri" value="https://stgservices.gnonlineservices.com/" />
    <add key="RendezvousServiceUrl" value="https://stgrendezvous.gnonlineservices.com/" />
    -->
    <!-- Evaluation -->
    <!-- 
    <add key="BaseUri" value="https://evlservices.gnonlineservices.com/" />
    <add key="ForgotUsernameUri" value="https://evlservices.gnonlineservices.com/user/forgotusername/" />
    <add key="ForgotPasswordUri" value="https://evlservices.gnonlineservices.com/user/forgotpassword/" />
    <add key="CloudLoginUri" value="https://evlservices.gnonlineservices.com/" />
    <add key="RendezvousServiceUrl" value="https://evlrendezvous.gnonlineservices.com/" />
    -->
    <!-- Integration -->
    <!--
    <add key="BaseUri" value="https://intservice.gnonlineservices.com/" />
    <add key="ForgotUsernameUri" value="https://intservice.gnonlineservices.com/user/forgotusername/" />
    <add key="ForgotPasswordUri" value="https://intservice.gnonlineservices.com/user/forgotpassword/" />
    <add key="CloudLoginUri" value="https://intservice.gnonlineservices.com/" />
    <add key="RendezvousServiceUrl" value="https://intrendezvous.gnonlineservices.com/" />
    -->
    <!-- Education -->
    <!--
    <add key="BaseUri" value="https://eduservices.gnonlineservices.com/" />
    <add key="ForgotUsernameUri" value="https://eduservices.gnonlineservices.com/user/forgotusername/" />
    <add key="ForgotPasswordUri" value="https://eduservices.gnonlineservices.com/user/forgotpassword/" />
    <add key="CloudLoginUri" value="https://eduservices.gnonlineservices.com/" />
    <add key="RendezvousServiceUrl" value="https://edurendezvous.gnonlineservices.com/" />
    -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
