<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BinPath" value=".\"/>
    <add key="DataPath" value=".\Data\"/>
    <add key="CDIPath" value=".\Data\CDI"/>
    <add key="StandaloneDatabasePath" value=".\Data\"/>
    <add key="ImagePath" value=".\Images\"/>
    <add key="InEarPicturesPath" value=".\Images\InEarPictures\"/>
    <add key="MainPicturesPath" value=".\Images\MainPictures\"/>
    <add key="MarketingThumbnailsPath" value=".\Images\MarketingThumbnails"/>
    <add key="OverlayPicturePath" value=".\Images\OverlayPictures\"/>
    <add key="ThumbnailsPath" value=".\Images\Thumbnails\"/>
    <add key="AnimationsPath" value=".\Images\Animations\"/>
    <add key="MultiMediaFilePath" value=".\MediaSoundFiles\"/>
    <add key="HLSimPath" value=".\HLSim\"/>
    <add key="HLSimEnglishPath" value=".\HLSim\English\"/>
    <add key="HLSimLanguageIndependentPath" value=".\HLSim\LanguageIndependent\"/>
    <add key="StringFilesPath" value="..\..\..\Src\Languages\"/>
    <add key="MarketFilesPath" value=".\Data\Market\"/>
    <add key="DefaultLanguage" value="en-US"/>
    <add key="ExceptionShowUI" value="false"/>
    <add key="SenderAlias" value="Do Not Reply: Fitting Software Application"/>
    <add key="Brand" value="RS"/>
    <add key="Market" value="US"/>
    <add key="XMLHostFile" value=".\XmlHostData.xml"/>
    <add key="CounselingToolRegPath" value="SOFTWARE\GN Resound\CounselingTool"/>
    <add key="NoahHostModuleName" value="ReSound.Aventa.PlatformNoahHost"/>
    <add key="VideoPath" value=".\Video"/>
    <add key="NordicMarkets" value="SV" />
    <add key="SpecFilesPath" value=".\Data\Specs\"/>
    <add key="UserHelpFilesPath" value=".\Data\HelpFilesUser\"/>
    <add key="CableHelpFilesPath" value=".\Data\HelpFilesCable\"/>
    <add key="InternationalLanguageID" value="en-UK"/>
    <add key="ProductCode" value="{C4CBE011-575B-4A64-AD81-B31B65B49090}"/>
    <add key="ProductVersion" value="3.100"/>
    <add key="WebUpdateServerURL" value="http://server2.fsgglenview.com/"/>
    <add key="AllowWebUpdates" value="1"/>
    <add key="AdobeDownLoadAddress" value="http://get.adobe.com/reader/"/>
    <add key="ProcessName" value="Aventa"/>
    <add key="ReadyToInstall" value="false"/>
    <add key="LogLevel" value="debug"/>
    <add key="MarketFilesPath" value=".\Data\Market\"/>
    <add key="SpeedLinkTestToolPath" value="C:\Fuse2.5\DFuse_pvob\Fuse2.1Comp\Framework\Install\SpeedLinkSource\SpeedLinkTest.exe"></add>
    <add key="AirLinkTestToolPath" value="C:\Fuse2.5\DFuse_pvob\Fuse2.1Comp\Framework\Install\AirLinkSource\AirlinkTest.exe"></add>
    <add key="AccessoryUpdater" value="AventaAccessoryUpdater.exe"/>
    <add key="AuricalPlusLeftCalFile" value="C:\Documents and Settings\All Users\Application Data\GN Otometrics\1023\TUBECALL.REM"></add>
    <add key="AuricalPlusRightCalFile" value="C:\Documents and Settings\All Users\Application Data\GN Otometrics\1023\TUBECALR.REM"></add>
    <add key="AuricalFreeFitWizardConfigFile" value="C:\Documents and Settings\All Users\Application Data\GN Otometrics\wizard.config"></add>
    <add key="BrandRegistryKey" value="SOFTWARE\ReSound\Aventa3"/>
    <add key="AssistAppVersionInfo" value="30"/>
    <add key="GTIN" value="05708296093939"/>
    <add key="HierarchyFile" value="Counceling.xml"/>
  <add key="CommonPath" value=".\CounselResource\Common"/>
  <add key="LanguagePath" value=".\CounselResource\Languages"/>
  <add key="AudioFolder" value="Audio"/>
  <add key="VideoFolder" value="Video"/>
  <add key="ImagesFolder" value="Images"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.3.5" />
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <NetFx40_PInvokeStackResilience enabled="1"/>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>