<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ReSound.Ratatosk.Helpers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ReSound.Ratatosk.Helpers.Properties.Settings>
      <setting name="FullImage" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>+.*</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ImageWithoutCalibration" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ReSound.Ratatosk.NvramLayout.HardwareCalibrationDataItem</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AlgoApprovedImage" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>,DeviceSpecificApplicationCalibration</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FeaturesOnly" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>+ReSound.Ratatosk.Product.Specialized.LayoutItems.FeatureTableItem</string>
            <string>+ReSound.Ratatosk.Product.Specialized.LayoutItems.FeatureTableWithCrcItem</string>
            <string>+ReSound.Ratatosk.Product.Specialized.LayoutItems.FeatureDataItem</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FdiApprovedImage" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>,ProductionTestData</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UserDefined" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>+.*</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UserDefined2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>+.*</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UserDefined3" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>+.*</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UserDefined1" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>+.*</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="KnownDysfunctionalInFinalProgramming" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>FittingSoftwareDataHearingInstrumentProperties.WriteData</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="KnownDysfunctionalInWriteToPreset" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>FittingSoftwareDataProgramProperties.WriteData</string>
          </ArrayOfString>
        </value>
      </setting>
    </ReSound.Ratatosk.Helpers.Properties.Settings>
  </applicationSettings>
</configuration>