<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReSound.Ratatosk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ReSound.Ratatosk.Properties.Settings>
            <setting name="UseNiftyHipro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FittingDongleFittingBeaconTimeoutTime" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="FittingDongleKillConnectionOnMissingFittingBeacons"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FittingDongleBroadcastBeaconsTimeoutTime" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="HiproInputThresholdVoltage" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HiProMaxSend" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="HiProMaxRec" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="HiproHighSpec" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="HiproSpeedSettings" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="FittingDongleUseFrequencyAsDerivedFromInstance"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FittingDongleWirelessBroadcastBeaconFrequencyHoppingTime"
                serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="FittingDongleWirelessFittingBeaconFrequencyHoppingTime"
                serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="NoahLinkLowSpeed" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="NoahLinkHighSpeed" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AccessoryInterfaceNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SpouseMicrophone,SM</string>
                        <string>NeckLoop,NL</string>
                        <string>TableMicrophone,TM</string>
                        <string>BlueToothBridge2,BB</string>
                        <string>StationaryAudioStreamer2,SS</string>
                        <string>RemoteControl2,RC</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="InsertFittingDongleSleep" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FittingDongleSleepPeriod" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="FittingDongleReadTimeOut" serializeAs="String">
                <value>7000</value>
            </setting>
            <setting name="FittingDongleWriteTimeOut" serializeAs="String">
                <value>7000</value>
            </setting>
        </ReSound.Ratatosk.Properties.Settings>
    </applicationSettings>
</configuration>