<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ReSound.Ratatosk.Platforms.OperatingSystem.Palpatine5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ReSound.Ratatosk.Platforms.OperatingSystem.Palpatine5.Properties.Settings>
      <setting name="ReSoundEnvironments" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>None;0</string>
            <string>All-Around; 1</string>
            <string>Restaurant; 2</string>
            <string>Music; 4</string>
            <string>Party; 8</string>
            <string>Traffic; 16</string>
            <string>Acoustic Phone; 32</string>
            <string>Telecoil Loop; 128</string>
            <string>Telecoil Phone; 256</string>>
            <string>DAI; 1024</string>
            <string>REM test; 2048</string>
            <string>Streamer; 32768</string>
            <string>Phone Clip; 131072</string>
            <string>Outdoor; 524288</string>
            <string>Ambient Noise; 262144</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="BeltoneEnvironments" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>None;0</string>
            <string>All Around; 1</string>
            <string>Multi-Talker; 2</string>
            <string>Noise; 4</string>
            <string>Church; 8</string>
            <string>Music; 16</string>
            <string>Acoustic telephone; 32</string>
            <string>Telecoil; 128</string>
            <string>DAI; 4194304</string>
            <string>REM test; 512</string>
            <string>Outdoor; 1024</string>
            <string>TV Link/PAL; 32768</string>
            <string>Phone Link/Smart Device; 131072</string>
            <string>Ambient Noise; 16777216</string>
          </ArrayOfString>
        </value>
      </setting>
    </ReSound.Ratatosk.Platforms.OperatingSystem.Palpatine5.Properties.Settings>
  </userSettings>
</configuration>