<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReSound.Ratatosk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <ReSound.Ratatosk.Properties.Settings>
            <setting name="IntegratedSecurity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileMode" serializeAs="String">
                <value />
            </setting>
            <setting name="TablePrefix" serializeAs="String">
                <value>Ratatosk</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value>.\SQLEXPRESS</value>
            </setting>
            <setting name="UserInstance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InitialCatalog" serializeAs="String">
                <value />
            </setting>
            <setting name="AttachDBFilename" serializeAs="String">
                <value>#RatatoskConfiguration.sdf</value>
            </setting>
            <setting name="MaxDatabaseSize" serializeAs="String">
                <value>1024</value>
            </setting>
        </ReSound.Ratatosk.Properties.Settings>
    </userSettings>
</configuration>