<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ReSound.Ratatosk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ReSound.Ratatosk.Properties.Settings>
      <setting name="UseNiftyHipro" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FittingDongleFittingBeaconTimeoutTime" serializeAs="String">
        <value>4000</value>
      </setting>
      <setting name="FittingDongleKillConnectionOnMissingFittingBeacons"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FittingDongleBroadcastBeaconsTimeoutTime" serializeAs="String">
        <value>4000</value>
      </setting>
      <setting name="HiproInputThresholdVoltage" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="HiProMaxSend" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="HiProMaxRec" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="HiproHighSpec" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="HiproSpeedSettings" serializeAs="String">
        <value>19200</value>
      </setting>
      <setting name="FittingDongleUseFrequencyAsDerivedFromInstance"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FittingDongleWirelessBroadcastBeaconFrequencyHoppingTime"
        serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="FittingDongleWirelessFittingBeaconFrequencyHoppingTime"
        serializeAs="String">
        <value>125</value>
      </setting>
      <setting name="NoahLinkLowSpeed" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="NoahLinkHighSpeed" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="InsertFittingDongleSleep" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FittingDongleSleepPeriod" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="FittingDongleReadTimeOut" serializeAs="String">
        <value>7000</value>
      </setting>
      <setting name="FittingDongleWriteTimeOut" serializeAs="String">
        <value>7000</value>
      </setting>
      <setting name="RatatoskCommunicationAssemblies" serializeAs="String">
        <value>ReSound.Ratatosk.Platforms,ReSound.Ratatosk.Firmware,ReSound.Ratatosk.Product</value>
      </setting>
      <setting name="UseBleAuthentication" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BleMediumThreshold" serializeAs="String">
        <value>-79</value>
      </setting>
      <setting name="BleStrongThreshold" serializeAs="String">
        <value>-69</value>
      </setting>
      <setting name="Airlink1MediumThreshold" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Airlink2MediumThreshold" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Airlink1StrongThreshold" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Airlink2StrongThreshold" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NumberOfReconnects" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="AccessoryInterfaceNames" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>SpouseMicrophone,SM</string>
            <string>NeckLoop,NL</string>
            <string>TableMicrophone,TM</string>
            <string>BlueToothBridge2,BB</string>
            <string>StationaryAudioStreamer2,SS</string>
            <string>RemoteControl2,RC</string>
            <string>SpouseMicrophonePro,SP</string>
            <string>SpouseMicrophoneMicro,SI</string>
            <string>Charger,CH</string>
            <string>PowerIndicator,PI</string>
            <string>SpouseMicrophoneDemo,SD</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DetectDevicesTimeoutMilliseconds" serializeAs="String">
        <value>120000</value>
      </setting>
      <setting name="RemoteLoggingLevel" serializeAs="String">
        <value>Error</value>
      </setting>
      <setting name="NegotiateMTUForConnectAndRead" serializeAs="String">
        <value>True</value>
      </setting>
    </ReSound.Ratatosk.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime />
</configuration>