<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ReSound.Ratatosk.Helpers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ReSound.Ratatosk.Helpers.Properties.Settings>
      <setting name="FullImage" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>+.*</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ImageWithoutCalibration" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ReSound.Ratatosk.NvramLayout.HardwareCalibrationDataItem</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AlgoApprovedImage" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>,DeviceSpecificApplicationCalibration</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FeaturesOnly" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>+ReSound.Ratatosk.Product.Specialized.LayoutItems.FeatureTableItem</string>
            <string>+ReSound.Ratatosk.Product.Specialized.LayoutItems.FeatureTableWithCrcItem</string>
            <string>+ReSound.Ratatosk.Product.Specialized.LayoutItems.FeatureDataItem</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FdiApprovedImage" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>,ProductionTestData</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UserDefined" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>+.*</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UserDefined2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>+.*</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UserDefined3" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>+.*</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UserDefined1" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>+.*</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="KnownDysfunctionalInFinalProgramming" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>FittingSoftwareDataHearingInstrumentProperties.WriteData</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="KnownDysfunctionalInWriteToPreset" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>FittingSoftwareDataProgramProperties.WriteData</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DfuPackage" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ReSound.Ratatosk.NvramLayout.SystemInformationItem</string>
            <string>,RelocatedStorageIdentifierPointer</string>
            <string>,HwInitFlag</string>
            <string>,DspInitCodeSlot</string>
            <string>,PublicKeys</string>
            <string>,DeviceId</string>
            <string>,Fingerprint</string>
            <string>,HardwareCalibrationData</string>
            <string>,BluetoothData</string>
            <string>,MFIData</string>
            <string>,DfuPointerTable</string>
            <string>,DfuFwCertificate</string>
            <string>,DfuFwCertProtectedPointerTable</string>
            <string>,DfuDspCodeSlot</string>
            <string>,DfuRadio2ndStageBootloaderCodeSlot</string>
            <string>,DfuRadioMacLow</string>
            <string>,DfuRadioMacHigh</string>
            <string>,DfuRadioCodeSlot</string>
            <string>,HDIIdentifier</string>
            <string>,PtsGattDatabase</string>
            <string>,RadioTestDataArea</string>
            <string>,RdCertificate</string>
            <string>,PricePointCertificate</string>
            <string>,GNDeviceFamilyCertificate</string>
            <string>,DfuModeFlag</string>
            <string>,^DSPFlashCertificate$</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ImageWithoutCertificate" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ReSound.Ratatosk.NvramLayout.CertificateLayoutItem</string>
            <string>,DSPRDCertificate</string>
            <string>,HIConfigureSecureItem</string>
            <string>,HWFingerPrint</string>
            <string>,RadioRDCertificate</string>
            <string>,RadioSecuritySettingsCertificate</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DfuFirmwareOnly" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>+,^OsCodeSlot$</string>
            <string>+,^AudioCodeSlot$</string>
            <string>+,^DfsCodeSlot$</string>
            <string>+,^InSituCodeSlot$</string>
            <string>+,^GattDatabaseStatic$</string>
            <string>+,^RadioFirmware$</string>
            <string>+,^Radio2ndStageBootloaderCodeSlot$</string>
            <string>+,^RadioMacLow$</string>
            <string>+,^RadioMacHigh$</string>
            <string>+,^RadioCodeSlot$</string>
            <string>+,^DSPFlashCertificateProtectedPointerTable$</string>
            <string>+,^DSPFlashCertProtectedPointerTable$</string>
            <string>+,^ProductConfigurationVersion$</string>
            <string>+,^RelocatedStorageIdentifier$</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DfuConfigurationOnly" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>+,^FeatureDataTable$</string>
            <string>+,^FeatureData$</string>
            <string>+,^GattDatabaseStatic$</string>
            <string>+,^ProductConfigurationVersion$</string>
            <string>+,^RelocatedStorageIdentifier$</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DfuPackageFsw" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ReSound.Ratatosk.NvramLayout.SystemInformationItem</string>
            <string>,RelocatedStorageIdentifierPointer</string>
            <string>,HwInitFlag</string>
            <string>,DspInitCodeSlot</string>
            <string>,PublicKeys</string>
            <string>,DeviceId</string>
            <string>,Fingerprint</string>
            <string>,HardwareCalibrationData</string>
            <string>,BluetoothData</string>
            <string>,MFIData</string>
            <string>,DfuPointerTable</string>
            <string>,DfuFwCertificate</string>
            <string>,DfuFwCertProtectedPointerTable</string>
            <string>,DfuDspCodeSlot</string>
            <string>,DfuRadio2ndStageBootloaderCodeSlot</string>
            <string>,DfuRadioMacLow</string>
            <string>,DfuRadioMacHigh</string>
            <string>,DfuRadioCodeSlot</string>
            <string>,HDIIdentifier</string>
            <string>,PtsGattDatabase</string>
            <string>,RadioTestDataArea</string>
            <string>,SecuritySettingsCertificate</string>
            <string>,RdCertificate</string>
            <string>,ProductionTestData</string>
            <string>,ProductionImageHash</string>
            <string>,MICalibrationData</string>
            <string>,DeviceSpecificApplicationCalibration</string>
            <string>,BatteryVariantIdentification</string>
            <string>,PricePointCertificate</string>
            <string>,GNDeviceFamilyCertificate</string>
            <string>,DfuModeFlag</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="HdiPatchIncludes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>+,^DspInitCodeSlot$</string>
            <string>+,^PublicKeys$</string>
            <string>+,^DfuPointerTable$</string>
            <string>+,^DfuFwCertificate$</string>
            <string>+,^DfuFwCertProtectedPointerTable$</string>
            <string>+,^DfuDspCodeSlot$</string>
            <string>+,^DfuRadio2ndStageBootloaderCodeSlot$</string>
            <string>+,^DfuRadioMacLow$</string>
            <string>+,^DfuRadioMacHigh$</string>
            <string>+,^DfuRadioCodeSlot$</string>
            <string>+,^HDIIdentifier$</string>
          </ArrayOfString>
        </value>
      </setting>
    </ReSound.Ratatosk.Helpers.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime />
</configuration>