<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="ReSound.Fuse2.Prism.PrismExtension.ReSoundModulesConfigurationSection, ReSound.Fuse2.Prism.PrismExtension" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SADataConnectionString" connectionString="metadata=res://*/SAData.csdl|res://*/SAData.ssdl|res://*/SAData.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=Data Source=|DataDirectory|\Data\SAData.sdf" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <modules>
    <module assemblyFile="ReSound.Fuse2.Dialogs.dll" Group="None" moduleType="ReSound.Fuse2.Dialogs.DialogModule, ReSound.Fuse2.Dialogs, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DialogModule" startupLoaded="true" />
    <module assemblyFile="ReSound.Fuse2.ReSoundNavigation.dll" Group="None" moduleType="ReSound.Fuse2.ReSoundNavigation.ReSoundNavigationModule, ReSound.Fuse2.ReSoundNavigation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ReSoundNavigationModule" startupLoaded="true" />
    <module assemblyFile="ReSound.Fuse2.Theming.dll" Group="Theme" moduleType="ReSound.Fuse2.Theming.ThemingModule, ReSound.Fuse2.Theming, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ThemingModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="ReSoundNavigationModule" />
      </dependencies>
    </module>
  </modules>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <NetFx40_PInvokeStackResilience enabled="1" />
    <generatePublisherEvidence enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"/>
  </runtime>
  <appSettings>
    <add key="MigrationRulesFile" value="MigrationRules.xml" />
    <add key="MigrationRulesVersion" value="1.0.0.0" />
    <add key="MigrationNewBrandName" value="New brand name goes here" />
    <add key="MigrationLogFile" value="SideBySideMigration.log" />
    <add key="MigrationPatientPageSize" value="500" />
    <add key="MigrationPatientIDFile" value="GNNoahPatientsIDs.csv" />
    <add key="MigrationDataLogFile" value="NO" />
    <add key="ThemingLibraryBrand" value="GN.Theme" />
    <add key="ThemingLibraryExtended" value="ReSound.Fuse2.ExtendedTheme" />
    <add key="ThemingLibraryMaterial" value="ReSound.Fuse2.Material.WPF" />
    <add key="ThemingLibraryLocal" value="ReSound.Fuse2.SideBySide.Theme" />
    <add key="ThemingResource" value="Theme.xaml" />
    <add key="ThemingResourceMaterial" value="Themes/Theme.xaml" />
    <add key="ThemingSplashScreen" value="SplashImage.png" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Fitting API logging section-->
    <!-- Specify whether we log API calls. This MUST be enabled for QA testing so that we can replicate for functional testing. -->
    <add key="EnableFittingAPILogging" value="false" />
    <add key="FlushToDisk" value="true" />
    <!-- Specify how often we save gathered logs to the disc -->
    <add key="FlushIntervalInSeconds" value="5" />
    <!-- Name of the log file for API -->
    <add key="LogFilename" value="FittingAPILog.txt" />
    <!-- Start the application in a special "testing mode" for QA - allows domain captures and other operations.
    This should be enabled for QA testing and disabled for other purposes. -->
    <add key="InTestingMode" value="false" />
    <!-- If you set this to "true" API parameters will be JSON-serialized. Otherwise we just call "ToString" on
    them and only their names are logged. -->
    <add key="VerboseLogging" value="true" />
    <!-- The next two values specify where domain captures go -->
    <add key="TestingBaseFolder" value="FunctionalTesting" />
    <add key="QAFolder" value="QAResults" />
    <add key="TransformFileName" value="TransformResults.xslt" />
    <add key="XmlLogDocumentName" value="QAXmlLog.xml" />
    <add key="XmlLogFolder" value="XmlTestScripts" />
    <add key="XmlLogSchema" value="LogsSchema.xsd" />
    <!-- Available versions are Engine (JSON logging for the automated test engine) and HumanReadable (for "human readable" test logs for manual tests and debugging) -->
    <add key="LoggingVersion" value="Engine" />
    <add key="JsonLogFile" value="FittingAPIJsonLog.json" />
    <add key="CommandMappingFile" value="CmdMapping.xml" />
    <!-- End fitting API logging section -->  
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>
