<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="ReSound.Ratatosk.Platforms.OperatingSystem.Dooku1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup><userSettings>
    <ReSound.Ratatosk.Platforms.OperatingSystem.Dooku1.Properties.Settings>
      <setting name="DeviceFlashUpdateTimeOut" serializeAs="String">
        <value>40000</value>
      </setting>
      <setting name="BleLoadFittingBlockTimeout" serializeAs="String">
        <value>30000</value>
      </setting>
    </ReSound.Ratatosk.Platforms.OperatingSystem.Dooku1.Properties.Settings>
  </userSettings>
</configuration>
