<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- All values here are written by FuseCA at install time. UPDATE FuseCA or else key/values will not be updated on end-user machines -->
    <add key="BinPath" value=".\" />
    <add key="DataPath" value="..\..\src\ProductData\SmartFit\" />
    <add key="CDIPath" value=".\Data\CDI" />
    <add key="StandaloneDatabasePath" value=".\Data\" />
    <add key="ImagePath" value="..\..\src\ProductData\SmartFit\Images\" />
    <add key="InEarPicturesPath" value=".\Images\InEarPictures\" />
    <add key="MainPicturesPath" value="..\..\src\ProductData\SmartFit\Images\MainPictures\" />
    <add key="MarketingThumbnailsPath" value=".\Images\MarketingThumbnails" />
    <add key="OverlayPicturePath" value=".\Images\OverlayPictures\" />
    <add key="ThumbnailsPath" value=".\Images\Thumbnails\" />
    <add key="AnimationsPath" value="..\..\src\ProductData\SmartFit\Animations\" />
    <add key="MultiMediaFilePath" value=".\MediaSoundFiles\" />
    <add key="HLSimPath" value="..\..\src\ProductData\SmartFit\HLSim\" />
    <add key="HLSimEnglishPath" value="..\..\src\ProductData\SmartFit\HLSim\English\" />
    <add key="HLSimLanguageIndependentPath" value="..\..\src\ProductData\SmartFit\HLSim\LanguageIndependent\" />
    <add key="StringFilesPath" value="..\..\src\XLF\SmartFit\" />
    <add key="MarketFilesPath" value="..\..\src\Markets\SmartFit\" />
    <add key="DefaultLanguage" value="en-US" />
    <add key="ExceptionShowUI" value="false" />
    <add key="SenderAlias" value="Do Not Reply: Fitting Software Application" />
    <add key="Brand" value="RS" />
    <add key="Market" value="US" />
    <add key="XMLHostFile" value=".\XmlHostData.xml" />
    <add key="CounselingToolRegPath" value="SOFTWARE\GN ReSound\CounselingTool" />
    <add key="NoahHostModuleName" value="ReSound.Aventa.PlatformNoahHost" />
    <add key="VideoPath" value="..\..\src\ProductData\SmartFit\Videos" />
    <add key="NordicMarkets" value="SV" />
    <add key="SpecFilesPath" value="..\..\src\ProductData\SmartFit\Specs\" />
    <add key="UserHelpFilesPath" value="..\..\src\ProductData\SmartFit\HelpFilesUser\" />
    <add key="CableHelpFilesPath" value="..\..\src\ProductData\SmartFit\HelpFilesCable\" />
    <add key="InternationalLanguageID" value="en-UK" />
    <add key="ProductCode" value="{B1AEFBD8-442C-4815-9A2E-8649C899540D}" />
    <add key="ProductVersion" value="4.6" />
    <add key="WebUpdateServerURL" value="http://server2.fsgglenview.com/" />
    <add key="AllowWebUpdates" value="1" />
    <add key="AdobeDownLoadAddress" value="http://get.adobe.com/reader/" />
    <add key="ProcessName" value="SmartFit" />
    <add key="ReadyToInstall" value="false" />
    <add key="LogLevel" value="debug" />
    <add key="SpeedLinkTestToolPath" value=".\SpeedLinkTest.exe"></add>
    <add key="AirLinkTestToolPath" value=".\AirlinkTest.exe"></add>
    <add key="AccessoryUpdater" value="AventaAccessoryUpdater.exe" />
    <add key="AuricalPlusLeftCalFile" value="C:\Documents and Settings\All Users\Application Data\GN Otometrics\1023\TUBECALL.REM"></add>
    <add key="AuricalPlusRightCalFile" value="C:\Documents and Settings\All Users\Application Data\GN Otometrics\1023\TUBECALR.REM"></add>
    <add key="AuricalFreeFitWizardConfigFile" value="C:\Documents and Settings\All Users\Application Data\GN Otometrics\wizard.config"></add>
    <!-- Only was used to display MediaType on About -->
    <add key="BrandRegistryKey" value="SOFTWARE\ReSound\SmartFit" />
    <add key="AssistAppVersionInfo" value="50" />
    <add key="HierarchyFile" value="Counceling.xml" />
    <add key="CommonPath" value=".\CounselResource\Common" />
    <add key="LanguagePath" value=".\CounselResource\Languages" />
    <add key="AudioFolder" value="Audio" />
    <add key="VideoFolder" value="Videos" />
    <add key="ImagesFolder" value="Images" />
    <add key="CloudAgentLicence" value=".\AccessoryUpdates\CloudAgentLicence\AirlinkUpgrade.lic" />
    <add key="CurveConfiguration" value="11" />
    <add key="ProductSupportURL" value="http://www.helpdesksupporttools.com" />
    <add key="DisplayName" value="ReSound Smart Fit" />
    <add key="DisplayNameFull" value="ReSound Smart Fit 1.6" />
    <add key="GTIN" value="05708296085422" />
    <add key="AllowRemoteServices" value="1" />
    <!-- Keys for Older version of SW-->
    <add key="PreviousSWMarketFilesPath" value="..\..\..\Aventa\src\Markets\" />
    <add key="PreviousSWDataFilesPath" value="..\..\..\Aventa\Build\Bin\Framework\Data\" />
    <add key="PreviousSWInEarPicturesPath" value="..\..\..\Aventa\src\Images\InEarPictures\" />
    <add key="PreviousSWMainPicturesPath" value="..\..\..\Aventa\src\Images\MainPictures\" />
    <add key="PreviousSWSpecFilesPath" value="..\..\..\Aventa\src\Specs\" />
    <add key="PreviousCommonAppDataUnit" value="Aventa" />
    <add key="PreviousProcessName" value="Aventa" />
    <add key="PreviousXMLHostFile" value="..\..\..\Aventa\Build\Bin\Framework\XmlHostData.xml" />
    <add key="PreviousDisplayNameFull" value="ReSound Aventa 3" />
    <add key="PreviousGTIN" value="05708296093939" />
    <add key="DisplayTimerEnabled" value="true" />
    <!-- Keys for NOAH Module ID -->
    <add key="ManufacturerId" value="79" />
    <add key="ModuleId" value="3" />
    <add key="AutoREMDevices" value="{&quot;ModuleConfigurations&quot;:[{&quot;Name&quot;:&quot;OTOsuite&quot;,&quot;ModuleUSBConfigurations&quot;:[{&quot;VendorID&quot;:&quot;0C33&quot;,&quot;ProductID&quot;:&quot;0025&quot;}],&quot;MinimumVersion&quot;:&quot;4.82.0&quot;},{&quot;Name&quot;:&quot;Affinity Suite&quot;,&quot;ModuleUSBConfigurations&quot;:[{&quot;VendorID&quot;:&quot;0EEA&quot;,&quot;ProductID&quot;:&quot;0001&quot;}],&quot;MinimumVersion&quot;:&quot;2.11.0&quot;},{&quot;Name&quot;:&quot;Callisto Suite&quot;,&quot;ModuleUSBConfigurations&quot;:[{&quot;VendorID&quot;:&quot;0EEA&quot;,&quot;ProductID&quot;:&quot;0006&quot;}],&quot;MinimumVersion&quot;:&quot;1.9.0&quot;},{&quot;Name&quot;:&quot;AvantREM&quot;,&quot;ModuleUSBConfigurations&quot;:[{&quot;VendorID&quot;:&quot;18AA&quot;,&quot;ProductID&quot;:&quot;0011&quot;},{&quot;VendorID&quot;:&quot;18AA&quot;,&quot;ProductID&quot;:&quot;0012&quot;}],&quot;MinimumVersion&quot;:&quot;3.2.0&quot;}]}" />
    <add key="AutoREMDevicesUnity" value="{&quot;ModuleConfigurations&quot;:[{&quot;Name&quot;:&quot;Unity Module&quot;,&quot;ModuleUSBConfigurations&quot;:[{&quot;VendorID&quot;:&quot;217F&quot;,&quot;ProductID&quot;:&quot;0003&quot;}],&quot;MinimumVersion&quot;:&quot;5.5.0&quot;}]}" />
    <add key="AutoREMDevicesPrimus" value="{&quot;ModuleConfigurations&quot;:[{&quot;Name&quot;:&quot;Primus Module&quot;,&quot;ModuleUSBConfigurations&quot;:[{&quot;VendorID&quot;:&quot;217F&quot;,&quot;ProductID&quot;:&quot;0001&quot;}],&quot;MinimumVersion&quot;:&quot;2.6.0&quot;}]}" />
    <add key="AutoREMDevicesAvant" value="{&quot;ModuleConfigurations&quot;:[{&quot;Name&quot;:&quot;AvantREM&quot;,&quot;ModuleUSBConfigurations&quot;:[{&quot;VendorID&quot;:&quot;18AA&quot;,&quot;ProductID&quot;:&quot;0041&quot;},{&quot;VendorID&quot;:&quot;18AA&quot;,&quot;ProductID&quot;:&quot;0042&quot;}],&quot;MinimumVersion&quot;:&quot;3.2.0&quot;}]}" />
    <add key="AutoREMDevicesIMCCompliance" value="{&quot;ModuleConfigurations&quot;:[{&quot;Name&quot;:&quot;IMC Client Compliance Tester Module&quot;,&quot;ModuleUSBConfigurations&quot;:[{&quot;VendorID&quot;:&quot;0000&quot;,&quot;ProductID&quot;:&quot;0000&quot;}],&quot;MinimumVersion&quot;:&quot;1.0&quot;}]}" />
    <add key="TeleAudiologyUnsupportedDevices" value="[{&quot;VendorID&quot;:&quot;0C33&quot;,&quot;ProductID&quot;:&quot;001A&quot;,&quot;RevisionID&quot;:null,&quot;MultipleInterfaceID&quot;:&quot;00&quot;},{&quot;VendorID&quot;:&quot;0C33&quot;,&quot;ProductID&quot;:&quot;0015&quot;,&quot;RevisionID&quot;:null,&quot;MultipleInterfaceID&quot;:null},{&quot;VendorID&quot;:&quot;0C33&quot;,&quot;ProductID&quot;:&quot;0030&quot;,&quot;RevisionID&quot;:null,&quot;MultipleInterfaceID&quot;:null},{&quot;VendorID&quot;:&quot;0EEA&quot;,&quot;ProductID&quot;:null,&quot;RevisionID&quot;:null,&quot;MultipleInterfaceID&quot;:null},{&quot;VendorID&quot;:&quot;18AA&quot;,&quot;ProductID&quot;:null,&quot;RevisionID&quot;:null,&quot;MultipleInterfaceID&quot;:null},{&quot;VendorID&quot;:&quot;217F&quot;,&quot;ProductID&quot;:null,&quot;RevisionID&quot;:null,&quot;MultipleInterfaceID&quot;:null}]"/>
    <add key="LDKey" value="mob-251b4223-dc6a-4e30-9d2d-07fe67450c66" />
    <add key="DataGlobalPath" value="..\..\src\ProductData\Global\" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"/>
  </runtime>
</configuration>
