<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ReSound.Ratatosk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ReSound.Ratatosk.Properties.Settings>
      <setting name="AccessControl" serializeAs="String">
        <value>5000,5</value>
      </setting>
      <setting name="CommitPage" serializeAs="String">
        <value>1500,5</value>
      </setting>
      <setting name="GetBytes" serializeAs="String">
        <value>1500,5</value>
      </setting>
      <setting name="C4BootRunningTimeOut" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="C4BootStoppedTimeOut" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="C4BootNotHostTimeOut" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="C5SuperDebug" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="C5BootRunningTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="C5BootStoppedTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="C5BootNotHostTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="C5BootNotInhostTimeout" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="UseMaxHipro2Speed" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="C6SuperDebug" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="C6BootRunningTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="C6BootStoppedTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="C6BootNotHostTimeout" serializeAs="String">
        <value>6000</value>
      </setting>
      <setting name="C6BootNotInhostTimeout" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="WebLinkBootDisconnectWaitTimeMs" serializeAs="String">
        <value>10000</value>
      </setting>
    </ReSound.Ratatosk.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime />
</configuration>