<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ReSound.Ratatosk.Platforms.OperatingSystem.Palpatine6.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <ReSound.Ratatosk.Platforms.OperatingSystem.Palpatine6.Properties.Settings>
      <setting name="ReSoundEnvironments" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>None;0</string>
            <string>All-Around; 1</string>
            <string>Restaurant; 2</string>
            <string>Music; 4</string>
            <string>Party; 8</string>
            <string>Traffic; 16</string>
            <string>Acoustic Phone; 32</string>
            <string>Telecoil Loop; 128</string>
            <string>Telecoil Phone; 256</string>
            <string>DAI; 1024</string>
            <string>REM test; 2048</string>
            <string>Streamer; 32768</string>
            <string>Phone Clip; 131072</string>
            <string>Outdoor; 524288</string>
            <string>Ambient Noise; 262144</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="BeltoneEnvironments" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>None;0</string>
            <string>All Around; 1</string>
            <string>Multi-Talker; 2</string>
            <string>Noise; 4</string>
            <string>Church; 8</string>
            <string>Music; 16</string>
            <string>Acoustic telephone; 32</string>
            <string>Telecoil; 128</string>
            <string>DAI; 4194304</string>
            <string>REM test; 512</string>
            <string>Outdoor; 1024</string>
            <string>TV Link/PAL; 32768</string>
            <string>Phone Link/Smart Device; 131072</string>
            <string>Ambient Noise; 16777216</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DeviceFlashUpdateTimeOut" serializeAs="String">
        <value>40000</value>
      </setting>
      <setting name="PauseBeforePolling" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>7; 1000</string>
            <string>50; 1000</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="OsEventPollingInterval" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="BleLoadFittingBlockTimeout" serializeAs="String">
        <value>30000</value>
      </setting>
    </ReSound.Ratatosk.Platforms.OperatingSystem.Palpatine6.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>