<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="ReSound.Fuse2.Prism.PrismExtension.ReSoundModulesConfigurationSection, ReSound.Fuse2.Prism.PrismExtension" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SADataConnectionString" connectionString="metadata=res://*/SAData.csdl|res://*/SAData.ssdl|res://*/SAData.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=Data Source=|DataDirectory|\Data\SAData.sdf" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <modules>
    <module assemblyFile="ReSound.Fuse2.Dialogs.dll" Group="None" moduleType="ReSound.Fuse2.Dialogs.DialogModule, ReSound.Fuse2.Dialogs, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DialogModule" startupLoaded="true" />
    <module assemblyFile="ReSound.Fuse2.ReSoundNavigation.dll" Group="None" moduleType="ReSound.Fuse2.ReSoundNavigation.ReSoundNavigationModule, ReSound.Fuse2.ReSoundNavigation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ReSoundNavigationModule" startupLoaded="true" />
    <module assemblyFile="ReSound.Fuse2.Menu.dll" Group="None" moduleType="ReSound.Fuse2.Menu.MenuModule, ReSound.Fuse2.Menu, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MenuModule" startupLoaded="true" />
    <module assemblyFile="ReSound.Fuse2.Preferences.dll" Group="None" moduleType="ReSound.Fuse2.Preferences.PreferencesModule, ReSound.Fuse2.Preferences, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PreferencesModule" startupLoaded="true" />
    <module assemblyFile="ReSound.Fuse2.Pediatrics.dll" Group="Misc" moduleType="ReSound.Fuse2.Pediatrics.PediatricsModule, ReSound.Fuse2.Pediatrics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PediatricsModule" startupLoaded="true" />
    <module assemblyFile="ReSound.Fuse2.EventHandling.dll" Group="Main" moduleType="ReSound.Fuse2.EventHandling.EventHandlingModule, ReSound.Fuse2.EventHandling, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="EventHandlingModule" startupLoaded="true" />
    <module assemblyFile="ReSound.Fuse2.Theming.dll" Group="Theme" moduleType="ReSound.Fuse2.Theming.ThemingModule, ReSound.Fuse2.Theming, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ThemingModule" startupLoaded="true" />
    <module assemblyFile="ReSound.Fuse2.Sandbox.dll" Group="Debug" moduleType="ReSound.Fuse2.Sandbox.SandboxModule, ReSound.Fuse2.Sandbox, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SandboxgModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.SignIn.dll" Group="Main,Play" moduleType="ReSound.Fuse2.SignIn.SignInModule, ReSound.Fuse2.SignIn, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SignInModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.PatientInfo.dll" Group="SmartLauncher,Misc" moduleType="ReSound.Fuse2.PatientInfo.PatientInfoModule, ReSound.Fuse2.PatientInfo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PatientInfoModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.SoundPlayer.dll" Group="Misc" moduleType="ReSound.Fuse2.SoundPlayer.SoundPlayerModule, ReSound.Fuse2.SoundPlayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SoundPlayerModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.StandAlone.dll" Group="StandAlone" moduleType="ReSound.Fuse2.StandAlone.StandAloneModule, ReSound.Fuse2.StandAlone, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="StandAloneModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="XMLHostSwitcherModule" />
      </dependencies>
    </module>
    <module assemblyFile="ReSound.Fuse2.Noah.dll" Group="Noah" moduleType="ReSound.Fuse2.Noah.NoahModule, ReSound.Fuse2.Noah, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="NoahModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.XML.dll" Group="XML" moduleType="ReSound.Fuse2.XML.XMLModule, ReSound.Fuse2.XML, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="XMLModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="XMLHostSwitcherModule" />
      </dependencies>
    </module>
    <module assemblyFile="ReSound.Fuse2.ConnectionFlow.dll" Group="Connection,ExpressFit,SmartLauncher" moduleType="ReSound.Fuse2.ConnectionFlow.ConnectionFlowModule, ReSound.Fuse2.ConnectionFlow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ConnectionFlowModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="EventHandlingModule" />
      </dependencies>
    </module>
    <module assemblyFile="ReSound.Fuse2.InSitu.dll" Group="Misc,ExpressFit,Play,SmartLauncher" moduleType="ReSound.Fuse2.InSitu.InSituModule, ReSound.Fuse2.InSitu, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="InSituModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.Patient.dll" Group="SmartLauncher,Main" moduleType="ReSound.Fuse2.Patient.PatientModule, ReSound.Fuse2.Patient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PatientModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="ConnectionFlowModule" />
        <dependency moduleName="SmartLauncherModule" />
      </dependencies>
    </module>
    <module assemblyFile="ReSound.Fuse2.Instruments.dll" Group="Main" moduleType="ReSound.Fuse2.Instruments.InstrumentModule, ReSound.Fuse2.Instruments, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="InstrumentsModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.Instruments.dll" Group="SmartLauncher" moduleType="ReSound.Fuse2.Instruments.SmartLauncherModule, ReSound.Fuse2.Instruments, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SmartLauncherModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.ExpressFit.dll" Group="ExpressFit,Misc,Play,SmartLauncher" moduleType="ReSound.Fuse2.ExpressFit.ExpressFitModule, ReSound.Fuse2.ExpressFit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ExpressFitModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.GainAdjustment.dll" Group="SmartLauncher,Fitting" moduleType="ReSound.Fuse2.GainAdjustment.GainAdustmentModule, ReSound.Fuse2.GainAdjustment, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="GainAdustmentModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.Fitting.dll" Group="SmartLauncher,Main,ExpressFit" moduleType="ReSound.Fuse2.Fitting.FittingModule,ReSound.Fuse2.Fitting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="FittingModule" startupLoaded="false" >
      <dependencies>
        <dependency moduleName="ConnectionFlowModule" />
      </dependencies>
    </module>
    <module assemblyFile="ReSound.Fuse2.BeepsVCModule.dll" Group="Misc" moduleType="ReSound.Fuse2.BeepsVC.BeepsVCModule, ReSound.Fuse2.BeepsVC, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="BeepsVCModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.AdvancedFeatures.dll" Group="Misc" moduleType="ReSound.Fuse2.AdvancedFeatures.AdvancedFeaturesModule, ReSound.Fuse2.AdvancedFeatures, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AdvancedFeaturesModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.EVFT.dll" Group="Misc" moduleType="ReSound.Fuse2.EVFT.EVFTModule, ReSound.Fuse2.EVFT, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="EVFTModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.Satisfy.dll" Group="Misc" moduleType="ReSound.Fuse2.Satisfy.SatisfyModule, ReSound.Fuse2.Satisfy, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SatisfyModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.ProgramStrip.dll" Group="Fitting" moduleType="ReSound.Fuse2.ProgramStrip.ProgramStripModule, ReSound.Fuse2.ProgramStrip, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ProgramStripModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.TSG.dll" Group="Misc" moduleType="ReSound.Fuse2.TSG.TSGModule, ReSound.Fuse2.TSG, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="TSGModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.Summary.dll" Group="Misc" moduleType="ReSound.Fuse2.Summary.SummaryModule, ReSound.Fuse2.Summary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SummaryModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.AutoREM2.dll" Group="Misc,ExpressFit" moduleType="ReSound.Fuse2.AutoREM2.AutoREMModule, ReSound.Fuse2.AutoREM2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AutoREMModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.TextBasedWizard.dll" Group="Misc" moduleType="ReSound.Fuse2.TextBasedWizard.TextBasedWizardModule, ReSound.Fuse2.TextBasedWizard, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="TextBasedWizardModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.EarToEarCommunication.dll" Group="Misc" moduleType="ReSound.Fuse2.EarToEarCommunication.EarToEarCommunicationModule, ReSound.Fuse2.EarToEarCommunication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="EarToEarCommunicationModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.AccessoryPairing.dll" Group="Misc,SmartLauncher,Connection" moduleType="ReSound.Fuse2.AccessoryPairing.AccessoryPairingModule,  ReSound.Fuse2.AccessoryPairing, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AccessoryPairingModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.Counseling.dll" Group="Misc" moduleType="ReSound.Fuse2.Counseling.AudiogramModule, ReSound.Fuse2.Counseling, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AudiogramModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.Counseling.dll" Group="Misc" moduleType="ReSound.Fuse2.Counseling.HearingLossModule, ReSound.Fuse2.Counseling, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="HearingLossModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.Counseling.dll" Group="Misc" moduleType="ReSound.Fuse2.Counseling.FeatureDemosModule, ReSound.Fuse2.Counseling, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="FeatureDemosModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.Counseling.dll" Group="Misc" moduleType="ReSound.Fuse2.Counseling.PatientEducationModule, ReSound.Fuse2.Counseling, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PatientEducationModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.TranslationTool.dll" Group="Misc" moduleType="ReSound.Fuse2.TranslationTool.TranslationModule, ReSound.Fuse2.TranslationTool, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="TranslationModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.XML.dll" moduleType="ReSound.Fuse2.XML.XMLHostSwitcherModule, ReSound.Fuse2.XML, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="XMLHostSwitcherModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.HITest.dll" Group="Misc" moduleType="ReSound.Fuse2.HITest.HITestModeModule, ReSound.Fuse2.HITest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="HITestModeModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.Notifications.dll" Group="Misc" moduleType="ReSound.Fuse2.Notifications.NotificationsModule, ReSound.Fuse2.Notifications, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="NotificationsModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.Connection.dll" Group="SmartLauncher,Play" moduleType="ReSound.Fuse2.Connection.ConnectionModule, ReSound.Fuse2.Connection, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ConnectionModule" startupLoaded="false">
      <dependencies>
        <dependency moduleName="StatemachinePresentationModule" />
      </dependencies>
    </module>
    <module assemblyFile="ReSound.Fuse2.Reconfiguration.dll" Group="Play" moduleType="ReSound.Fuse2.Reconfiguration.ReconfigurationModule, ReSound.Fuse2.Reconfiguration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ReconfigurationModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.StatemachinePresentation.dll" Group="Play" moduleType="ReSound.Fuse2.StatemachinePresentation.StatemachinePresentationModule, ReSound.Fuse2.StatemachinePresentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="StatemachinePresentationModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.Save.dll" Group="Play" moduleType="ReSound.Fuse2.Save.SaveModule, ReSound.Fuse2.Save, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SaveModule" startupLoaded="false" />
    <module assemblyFile="ReSound.Fuse2.IOpenTokService.dll" Group="Play" moduleType="ReSound.Fuse2.OpenTokService.OpenTokServiceModule, ReSound.Fuse2.IOpenTokService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="IOpenTokService" startupLoaded="false" />
    <module assemblyFile="TargetAndResponseViewer.dll" Group="SmartLauncher,Misc" moduleType="TargetAndResponseViewer.TargetAndResponseViewerModule, TargetAndResponseViewer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="TargetAndResponseViewerModule" startupLoaded="false" />
  </modules>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <NetFx40_PInvokeStackResilience enabled="1" />
    <generatePublisherEvidence enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-99.99.9999.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.99.9999.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ReSound.XPlatform.BleIdentifier" publicKeyToken="1d3861c84bfd4dde" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.99.9999.0" newVersion="1.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.99.9999.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ThemingLibraryBrand" value="Brand.Theme" />
    <add key="ThemingLibraryExtended" value="ReSound.Fuse2.ExtendedTheme" />
    <add key="ThemingLibraryMaterial" value="ReSound.Fuse2.Material.WPF" />
    <add key="ThemingLibraryBindable" value="ReSound.Fuse2.Bindable.WPF" />
    <add key="ThemingLibraryIconPack" value="ReSound.Fuse3.IconPack.WPF" />
    <add key="ThemingLibraryComponent" value="ReSound.Fuse3.Component.WPF" />
    <add key="ThemingResource" value="Theme.xaml" />
    <add key="ThemingResourceThemes" value="Themes/Theme.xaml" />
    <add key="ThemingSplashScreen" value="SplashImage.png" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Fitting API logging section-->
    <!-- Specify whether we log API calls. This MUST be enabled for QA testing so that we can replicate for functional testing. -->
    <add key="EnableFittingAPILogging" value="false" />
    <add key="FlushToDisk" value="true" />
    <!-- Specify how often we save gathered logs to the disc -->
    <add key="FlushIntervalInSeconds" value="5" />
    <!-- Name of the log file for API -->
    <add key="LogFilename" value="FittingAPILog.txt" />
    <!-- Start the application in a special "testing mode" for QA - allows domain captures and other operations.
    This should be enabled for QA testing and disabled for other purposes. -->
    <add key="InTestingMode" value="false" />
    <!-- If you set this to "true" API parameters will be JSON-serialized. Otherwise we just call "ToString" on
    them and only their names are logged. -->
    <add key="VerboseLogging" value="true" />
    <!-- The next two values specify where domain captures go -->
    <add key="TestingBaseFolder" value="FunctionalTesting" />
    <add key="QAFolder" value="QAResults" />
    <add key="TransformFileName" value="TransformResults.xslt" />
    <add key="XmlLogDocumentName" value="QAXmlLog.xml" />
    <add key="XmlLogFolder" value="XmlTestScripts" />
    <add key="XmlLogSchema" value="LogsSchema.xsd" />
    <!-- Available versions are Engine (JSON logging for the automated test engine) and HumanReadable (for "human readable" test logs for manual tests and debugging) -->
    <add key="LoggingVersion" value="Engine" />
    <add key="JsonLogFile" value="FittingAPIJsonLog.json" />
    <add key="CommandMappingFile" value="CmdMapping.xml" />
    <!-- End fitting API logging section -->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>
